#
# Runtime
#
NODE_ENV=development
PORT=3000

#
# Database
#
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=boilerplate_nestjs
DB_SYNCHRONIZE=true

#
# Auth & Encryption
#
JWT_SECRET=development-jwt-secret
PII_ENCRYPTION_KEY=development-jwt-secret

#
# API Docs
#
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

#
# Object Storage
#
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_BUCKET_PUBLIC=tetangga
MINIO_BUCKET_PRIVATE=legal-tetangga
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

#
# Messaging & Cache
#
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=nestjs-app

#
# OAuth
#
GOOGLE_CLIENT_ID=

#
# External Integrations
#
SAUNGWA_APPKEY=
SAUNGWA_AUTHKEY=
SAUNGWA_BASE_URL=https://app.saungwa.com/api
SAUNGWA_API_KEY=key
